* {
    box-sizing: border-box;
}

body {
    background-color: #002f79;
    color: #e5e5e5;
    margin: 0;
}

.container {
    margin: 1rem;
    text-align: center;
}

.MovieTitle {
    font-size: 2rem;
    font-style: oblique;
}

.Browse {
    font-size: 2rem;
    font-style: italic;
}

.AdvancedSearch {
    font-size: 2rem;
    font-style: italic;
}

.NewReleases {
    font-size: 2rem;
    font-style: italic;
}

.nav {
    background-color: #021663;
    color: #008D43;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
    padding: 0 1rem;
    display: flex;
    gap: 1rem;
}

    .nav ul {
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
        gap: 25rem;
    }

    .nav a {
        color: inherit;
        text-decoration: none;
        height: 100%;
        display: flex;
        align-items: center;
        padding: .25rem;
    }

    .nav li.active {
        background-color: #45022d;
    }


    .nav li:hover {
        background-color: #8b0040;
    }


.search-wrapper {
    display: flex;
    flex-direction: row;
    gap: .25rem;
}


input {
    font-size: 1rem;
}
